{% extends 'templates/layouts/admin.njk' %}

{% block head %}
    <title>Criar Chef | Foodfy</title>
{% endblock %}

{% block content %}
    <section class="container">
        <form action="/admin/chefs" method="POST" enctype="multipart/form-data">
            <div class="title">
                <h2>Novo Chef</h2>
                <button type="submit">Salvar chef</button>
            </div>

            {% include "templates/includes/chefs-fields.njk" %}
        </form>
    </section>
{% endblock %}