{% extends 'templates/layouts/admin.njk' %}
{% import "templates/macros/chefs-list.njk" as section %}

{% block head %}
    <link rel="stylesheet" href="/styles/chefs/chefs-list.css">
    <title>Gerenciar chefs | Foodfy</title>
{% endblock %}

{% block content %}
    <section class="admin container">
        <div class="title">
            <h2>Gerenciar chefs</h2>
            {% if session.isAdmin %}
                <a class="btn" href="/admin/chefs/create">Novo chef</a>
            {% endif %}
        </div>

        {{ section.chefs("", chefs) }}
    </section>
    {% include "templates/includes/pagination.njk" %}
{% endblock %}