{% extends 'layouts/admin.njk' %}

{% block head %}
    <title>Gerenciar chefs | Foodfy</title>
{% endblock %}

{% block content %}
    <section class="admin container">
        <div class="title">
            <h2>Gerenciar chefs</h2>
            <a class="btn" href="/admin/chefs/create">Novo chef</a>
        </div>

        <div class="chef-container-admin">
            {% for chef in chefs %}
                <div class="chef">
                    <img src="{{chef.avatar_url}}" alt="imagem de {{chef.name}}">
                    <div>
                        <h3>{{chef.name}}</h3>
                        <a href="/admin/chefs/{{chef.id}}">Visualizar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}