{% extends 'templates/layouts/admin.njk' %}
{% import "templates/macros/chef-content.njk" as chefContent %}

{% block head %}
    <link rel="stylesheet" href="/styles/chefs/chef-profile.css">
    <link rel="stylesheet" href="/styles/recipes/recipes-list.css">
    <title>{{chef.name}} | Foodfy</title>
{% endblock %}

{% block content %}
    {{ chefContent.render(chef, session, "admin") }}
{% endblock %}