{% extends 'templates/layouts/admin.njk' %}
{% import "templates/macros/chef.njk" as section %}

{% block head %}
    <title>{{chef.name}} | Foodfy</title>
{% endblock %}

{% block content %}
    {{ section.chef("header", chef, recipes) }}
{% endblock %}