{% extends 'layouts/admin.njk' %}

{% block head %}
    <title>Receita: {{recipe.title}} | Foodfy</title>
{% endblock %}

{% block content %}
    <section class="recipe-selected container">
            <div class="title">
                <h2>Receita: {{recipe.title}}</h2>
                <button class="btn">
                    <a href="/admin/recipes/{{recipe.index}}/edit">Editar receita</a>
                </button>
            </div>
            <img src="{{recipe.image}}" alt="imagem de {{recipe.title}}">
            <div class="title">
                <h1>{{recipe.title}}</h1>
                <p>por {{recipe.author}}</p>
            </div>
            <div class="recipe-wraper">
                <div class="title">
                    <h2>Igredientes</h2>
                </div>
                <div class="content">
                    <ul>
                        {% for ingredient in recipe.ingredients %}
                            <li>{{ingredient}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="recipe-wraper">
                <div class="title">
                    <h2>Modo de preparo</h2>
                </div>
                <div class="content">
                    <ul>
                        {% for preparation in recipe.preparation %}
                            <li>{{preparation}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="recipe-wraper">
                <div class="title">
                    <h2>Informações adicionais</h2>
                </div>
                <div class="content">
                    {{recipe.information}}
                </div>
            </div>
    </section>
{% endblock %}