section.session.container {
    margin-bottom: auto;
    max-width: 500px;
}

section.session.container .title {
    justify-content: center;
}

section.session.container .footer {
    margin-top: 35px;
}

section.session.container .footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.session.container .footer ul li.button-wrapper {
    width: 100%;
    text-align: end;
}

section.session.container .footer ul a {
    font-weight: bold;
    color: #969696;
}

section.session.container .footer ul a:hover {
    color: var(--color-purple);
}