/* =============
==== GLOBAL ==== 
============= */

:root {
    --color-default-black: #111;
    --color-gray: #777;
    --color-light-gray: #999;
    --color-dark-gray: #444;
    --color-white-paper: #f5f5f5;
    --color-purple: #6558C3;
    --color-purple-dark: #5449a3;
    --color-danger-red: #dc4747;
    --color-danger-red-dark: #c53e3e;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: var(--color-default-black);
    overflow-y: overlay
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 940px;
}

header .container {
    display: grid;
    grid-template-columns: 92px 1fr 1fr;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
}

header .links ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 16px;
    max-width: 300px;
    list-style: none;
}

header .links a {
    position: relative;
    font-size: 16px;
    text-decoration: none;
    color: var(--color-default-black);
    transition: .2s;
}

.links a:hover {
    font-weight: bold;
}

.links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-default-black);
    opacity: 0;
    border-radius: 10px;
    transition: all .2s ease;
}

.links a:hover::after {
    opacity: 1;
    bottom: -6px;
}

header .container .filter-form {
    display: grid;
    grid-template-columns: 248px 96px;
    gap: 16px;
    justify-self: end;
}

header .container .filter-form input {
    margin: 0;
}

header .container .filter-form button {
    align-self: center;
    height: 40px;
}

header.header-admin {
    background-color: var(--color-default-black);
}

header.header-admin .container {
    grid-template-columns: 92px 1fr;
    gap: 3.6%;
    align-items: center;
    padding: 24px 0;
}

.header-admin .links ul {
    grid-template-columns: 1fr 6fr;
}

.header-admin .links a {
    text-transform: uppercase;
    color: var(--color-light-gray);
}

.active {
    font-weight: bold;
}

.header-admin .links a.active {
    color: var(--color-white-paper);
}

footer {
    margin-top: auto;
    background-color: #eee;
}

footer p {
    margin: 0;
    padding: 23px;
    text-align: center;
    color: var(--color-light-gray);
}

/* =================
==== MAIN INDEX ==== 
================= */

section.banner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 60px;
    max-height: 366px;
    background-color: #fbdfdb;
    border-radius: 30px;
}

.banner-content {
    padding: 60px;
    max-width: 316px;
}

.banner-content p {
    font-size: 18px;
}

section.most-popular {
    margin-top: 40px;
}

/* =================
==== ABOUT PAGE ==== 
================= */

.about h1 {
    font-size: 24px;
}

.about h2 {
    margin-top: 32px;
    font-size: 20px;
}

.about p {
    font-size: 18px;
    text-align: justify;
    color: var(--color-dark-gray);
}

/* ==============
==== RECIPES ==== 
============== */

.recipe-container,
.recipe-container-adm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 24px 0;
}

.recipe {
    cursor: pointer;
}

.recipe img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 15px;
}

.recipe h3,
.chef h3 {
    margin: 5px 10px;
    font-size: 18px;
    font-weight: normal;
}

.recipe p,
.chef p {
    margin: 0 10px;
    font-size: 14px;
    color: var(--color-gray);
}

/* =============================
==== INDIVIDUAL RECIPE PAGE ====
============================= */

.selected {
    margin-bottom: 56px;
}

/* =====================
==== RECIPE GALLERY ====
===================== */

.selected .gallery {
    width: 100%;
}

.gallery .highlight > img {
    margin-top: 20px;
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 15px;
    cursor: zoom-in;
}

.gallery .gallery-preview {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}

.gallery .gallery-preview img {
    margin-left: 10px;
    width: 56px;
    height: 56px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 4px;
    opacity: .6;
    transition: .2s;
    cursor: pointer;
}

.gallery .gallery-preview img:hover,
.gallery .gallery-preview img.active-image {
    opacity: 1;
}

/* ==============================
==== LIGHTBOX RECIPE GALLERY ====
============================== */

.gallery .highlight .lightbox-target {
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    opacity: 1;
    transition: opacity .4s;
    overflow: hidden;
}

.gallery .highlight .lightbox-target img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
    height: 90%;
    background-color: #fff;
    object-fit: contain;
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
}

.gallery .highlight a.lightbox-close {
    position: absolute;
    top: -80px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    color: #f00;
    background-color: #fff;
    border-radius: 50%;
    transition: .4s;
}

/* =============
==== RECIPE ====
============= */

.selected .title {
    text-align: center;
}

.selected .title h1 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 36px;
}

.selected .title p {
    margin: 0;
    font-size: 20px;
    color: var(--color-gray);
}

.recipe-item {
    margin-top: 20px;
}

.recipe-item .title {
    display: flex;
    align-items: center;
}

.recipe-item .title h2 {
    margin-right: 8px;
}

.recipe-item p.hide {
    font-size: 12px;
    color: var(--color-light-gray);
    cursor: pointer;
}

.content {
    font-size: 18px;
    line-height: 28px;
    color: var(--color-dark-gray);
}

.content ul {
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
}

.content ul li::before {
    content: '- ';
}

.content.hidden {
    display: none;
}

/* =================
==== ADMIN PAGE ====
================= */

.admin>.title,
form .title,
.selected>.title:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.admin .recipe-container-adm {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.admin .recipe {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 8px;
    cursor: default;
}

.admin .recipe img {
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

.admin .recipe a,
.admin .chef a {
    display: inline-block;
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-purple);
}

.admin .chef a {
    margin-top: 5px;
}

button {
    cursor: pointer;
}

form button,
.btn {
    padding: 8px 20px;
    min-width: 140px;
    height: 40px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    color: var(--color-white-paper);
    background-color: var(--color-purple);
    border: 0;
    border-radius: 4px;
    transition: .2s;
}

a.btn {
    box-sizing: border-box;
    text-decoration: none;
}

form button:hover,
.btn:hover {
    background-color: var(--color-purple-dark);
}

button.btn-delete {
    margin-right: 8px;
    background-color: var(--color-danger-red);
}

button.btn-delete:hover {
    background-color: var(--color-danger-red-dark);
}

/* ============
==== FORMS ====
============ */

form .item {
    margin-top: 24px;
}

form .item:last-of-type {
    margin-bottom: 32px;
}

.item div:nth-of-type(1) {
    font-weight: bold;
}

form input,
form textarea,
form select {
    box-sizing: border-box;
    margin: 10px 0;
    padding: 8px 24px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input:focus,
select:focus,
textarea:focus {
    box-shadow: 0px 0px 2px #ccc;
}

form .item #photos-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 6px;
    margin: 10px 0;
}

form .item #photos-upload, 
form .item #photos-preview .photo img {
    position: relative;
    display: block;
    width: 150px;
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form #photos-input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    cursor: pointer;
}

form #photos-upload i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 48px;
    font-weight: bold;
    color: var(--color-gray);
    transition: .2s;
}

form #photos-input:hover + i {
    color: var(--color-purple);
}

form #photos-preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 6px;
}

form #photos-preview .photo {
    position: relative;
}

form #photos-preview .photo img {
    object-fit: cover;
}

form #photos-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 48px;
    font-weight: bold;
    color: #f00;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: .2s;
    cursor: pointer;
}

form #photos-preview .photo i:hover {
    opacity: 1;
}

form textarea {
    display: block;
    height: 256px;
    resize: none;
}

form .add {
    font-weight: bold;
    color: var(--color-purple);
    cursor: pointer;
}

/* ============
==== CHEFS ==== 
============ */

.chef-container,
.chef-container-admin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 24px;
}

.chef-container .chef {
    cursor: pointer;
}

.chef {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
}

.chef img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 64px;
}

.chef a {
    margin-top: 0;
}

.title.chef-title h1 {
    margin-top: 30px;
}

.chef-avatar img {
    display: block;
    margin: 56px auto 0;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

/* =================
==== PAGINATION ==== 
================= */

.container .pagination {
    margin: 16px 0;
    text-align: center;
}

.container .pagination a,
.container .pagination span {
    margin-right: 16px;
    text-decoration: none;
    color: var(--color-default-black);
    transition: .2s;
}

.container .pagination a:hover {
    /* color: var(--color-gray); */
    font-weight: bold;
    border-bottom: 1px solid var(--color-default-black);
}

/* ============
==== LOGIN ==== 
============ */

section.login.container {
    max-width: 500px;
}

section.login.container .footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.login.container .footer ul a {
    font-weight: bold;
    text-decoration: none;
    color: #969696;
}

section.login.container .footer ul a:hover {
    color: var(--color-purple);
}