{% extends "templates/layouts/admin.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles/admin/forms.css">
    <title>Atualizar Usuário | Foodfy</title>
{% endblock %}

{% block content %}
    <section class="container">
        <form action="/admin/users?_method=PUT" method="POST">
            <div class="title">
                <h2>Atualizar Usuário</h2>

                <div>
                    <button class="btn btn-delete" type="submit" form="form-delete">Deletar</button>
                    <button class="btn" type="submit" onclick="Validate.allFields(event)">Salvar</button>
                </div>
            </div>

            <div class="fields">
                {% include "templates/includes/users/fields.njk" %}
                <input type="hidden" name="id" value="{{user.id}}">
            </div>
        </form>
        
        <form id="form-delete" action="/admin/users?_method=DELETE" method="POST">
            <input type="hidden" name="id" value="{{user.id}}">
        </form>
    </section>
{% endblock %}