{% extends "templates/layouts/main.njk" %}
{% import "templates/macros/chefs-list.njk" as section %}

{% block head %}
    <title>Chefs | Foodfy</title>
{% endblock %}

{% block content %}
    {{ section.chefs("container chef-container", "total_recipes", chefs) }}
{% endblock %}