{% extends "templates/layouts/main.njk" %}
{% import "templates/macros/chef.njk" as section %}

{% block head %}
    <title>{{chef.name}} | Foodfy</title>
{% endblock %}

{% block content %}
    {{ section.chef("", chef, recipes) }}
{% endblock %}