{% extends "templates/layouts/main.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles/recipes/recipes-list.css">
    <title>Foodfy - As melhores receitas</title>
{% endblock %}

{% block search %}
    {% include "templates/includes/recipes/search.njk" %}
{% endblock %}

{% block content %}
    <section class="banner container">
        <div class="banner-content">
            <h1>As melhores receitas</h1>
            <p>
                Aprenda a construir os melhores pratos com
                receitas criadas por profissionais do mundo inteiro.
            </p>
        </div>

        <div class="banner-img">
            <img src="assets/chef.png" alt="chef">
        </div>
    </section>

    <section class="most-popular container">
        <h2>Mais acessadas</h2>

        <div class="recipe-container">
            {% for recipe in recipes %}
                {% include "templates/includes/recipes/recipe-card.njk" %}
            {% endfor %}
        </div>
    </section>
{% endblock %}