{% extends "templates/layouts/main.njk" %}

{% block head %}
    <title>Receitas | Foodfy</title>
{% endblock %}

{% block search %}
    {% include "templates/includes/search.njk" %}
{% endblock %}

{% block content %}
    <section class="container">
        {% include "templates/includes/recipes-list.njk" %} 
        {% include "templates/includes/pagination.njk" %}
    </section>
{% endblock %}