{% extends "layouts/main.njk" %}

{% block head %}
    <title>Receitas | Foodfy</title>
{% endblock %}

{% block search %}
    {% include "main/parts/recipe-search.njk" %}
{% endblock %}

{% block content %}
    <section class="container">
        {% include "main/parts/recipes.njk" %} 
        {% include "main/parts/pagination.njk" %}
    </section>
{% endblock %}