{% extends "layouts/main.njk" %}

{% block head %}
    <title>Receitas | Foodfy</title>
{% endblock %}

{% block search %}
    <form class="filter-form" action="/recipes" method="GET">
        <input type="text" name="search" value="{{search}}" placeholder="Buscar uma receita">
        <button type="submit">Buscar</button>
    </form>
{% endblock %}

{% block content %}
    <section class="container">
        <div class="recipe-container">
            {% for recipe in recipes %}
                <div class="recipe"
                data-id={{recipe.id}}>
                    <img src="{{recipe.image}}" alt="imagem de {{recipe.title}}">
                    <h3 class="title">{{recipe.title}}</h3>
                    <p>por {{recipe.chef_name}}</p>
                </div>
            {% endfor %}
        </div>

        {% if pagination.total > 1 %}
            <div class="pagination"
                data-page={{pagination}}
                data-total={{pagination.total}}
            ></div>
        {% endif %}
    </section>
{% endblock %}