{% extends "templates/layouts/main.njk" %}
{% import "templates/macros/recipe.njk" as section %}

{% block head %}
    <title>{{recipe.title}} | Foodfy</title>
{% endblock %}

{% block search %}
    {% include "templates/includes/search.njk" %}
{% endblock %}

{% block content %}
    {{ section.recipe("", "recipe-hide", "hide", recipe, files) }}
{% endblock %}