<div>
    <a href="/admin"><img src="/images/logo_admin.png" alt="Foodfy logo"></a>
</div>

<nav class="links">
    <ul>
        <li><a href="/admin/recipes">Receitas</a></li>
        <li><a href="/admin/chefs">Chefs</a></li>
        <li><a href="/admin/users">Usuários</a></li>
    </ul>
</nav>