<div>
    <a href="/"><img src="/assets/logo.png" alt="Foodfy logo"></a>
</div>

<nav class="links">
    <ul class="links-wrapper">
        <li>
            <a href="/about">Sobre</a>
        </li>
        <li>
            <a href="/recipes">Receitas</a>
        </li>
        <li>
            <a href="/chefs">Chefs</a>
        </li>
        {% if session.userId %}
            <li>
                <a href="/admin/users/profile">Minha Conta</a>
            </li>
        {% else %}
            <li>
                <a href="/login">Login</a>
            </li>
        {% endif %}
    </ul>
</nav>