<div>
    <a href="/"><img src="/images/logo.png" alt="Foodfy logo"></a>
</div>

<nav class="links">
    <ul>
        <li><a href="/about">Sobre</a></li>
        <li><a href="/recipes">Receitas</a></li>
        <li><a href="/chefs">Chefs</a></li>
    </ul>
</nav>