<div class="item">
    <div>Email</div>
    <div>
        <input
            type="email"
            name="email"
            placeholder="Digite seu email"
            value="{{user.email}}"
            onblur="Validate.apply(this, 'isEmail')"
        >
    </div>
</div>

<div class="item">
    <div>Senha</div>
    <div>
        <input
            type="password"
            name="password"
            placeholder="Digite sua senha"
        >
    </div>
</div>