form .fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
}

form .item {
    margin-top: 24px;
}

form .item:last-of-type {
    margin-bottom: 32px;
}

.item div:nth-of-type(1) {
    font-weight: bold;
}

form .item #photos-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 6px;
    margin: 10px 0;
}

form .item #photos-upload, 
form .item #photos-preview .photo img {
    position: relative;
    display: block;
    width: 150px;
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form #photos-input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    cursor: pointer;
}

form #photos-upload i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 48px;
    font-weight: bold;
    color: var(--color-gray);
    transition: .2s;
}

form #photos-input:hover + i {
    color: var(--color-purple);
}

form #photos-preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 6px;
}

form #photos-preview .photo {
    position: relative;
}

form #photos-preview .photo img {
    object-fit: cover;
}

form #photos-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 48px;
    font-weight: bold;
    color: #f00;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: .2s;
    cursor: pointer;
}

form #photos-preview .photo i:hover {
    opacity: 1;
}

form textarea {
    display: block;
    height: 256px;
    resize: none;
}

form .options {
    display: flex;
}

form .options a {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 20px;
    font-weight: bold;
    cursor: pointer;
}

form .options a i {
    margin-right: 4px;
}

form a.add,
form a.add i {
    color: var(--color-purple);
}

form a.remove,
form a.remove i {
    color: var(--color-danger-red);
}