header.header-admin {
    background-color: var(--color-default-black);
}

header.header-admin .container {
    grid-template-columns: 92px 1fr;
    gap: 50px;
}

.header-admin .links {
    width: 100%;
}

.header-admin .links ul {
    grid-template-columns: 1fr 1fr;
}

.header-admin .links ul .links-wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 25px;
    justify-content: start;
}

.header-admin .links a {
    text-transform: uppercase;
    color: var(--color-light-gray);
}

.header-admin .links ul form {
    text-align: end;
}

.header-admin .links ul button {
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
}

.header-admin .links a.active,
.header-admin .links button {
    color: var(--color-white-paper);
}