header.header-admin {
    background-color: var(--color-default-black);
}

header.header-admin .container {
    grid-template-columns: 92px 1fr;
    gap: 50px;
}

.header-admin .links {
    justify-self: start;
}

.header-admin .links ul {
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.header-admin .links a {
    text-transform: uppercase;
    color: var(--color-light-gray);
}

.header-admin .links a.active {
    color: var(--color-white-paper);
}