<div class="item">
    <div>Nome</div>
    <div>
        <input
            type="text"
            name="name"
            placeholder="Digite o nome completo"
            value="{{user.name}}"
        >
    </div>
</div>

<div class="item">
    <div>Email</div>
    <div>
        <input
            type="email"
            name="email"
            value="{{user.email}}"
            readonly="true"
        >
    </div>
</div>

<div class="item">
    <div>Senha</div>
    <div>
        <input
            type="password"
            name="password"
            placeholder="Digite sua senha para atualizar seu cadastro"
        >
    </div>
</div>