<div class="item">
    <div>Nome</div>
    <div>
        <input type="text" name="name" value="{{chef.name}}">
    </div>
</div>

<div class="item">
    <div>Avatar</div>
    <div>
        <input type="text" name="avatar_url" value="{{chef.avatar_url}}">
    </div>
</div>