{% macro render(recipe, hide, session, admin) %}
    <section class="selected container">
        {% if admin %}
            <div class="title">
                <h2>Receita: {{recipe.title}}</h2>
                {% if session.isAdmin or session.userId == recipe.user_id %}
                    <a class="btn" href="/admin/recipes/{{recipe.id}}/edit">Editar receita</a>
                {% endif %}
            </div>
        {% endif %}

        <div class="gallery">
            <div class="highlight">
                {% if not recipe.files[0] %}
                    <img src="http://placehold.it/940x280?text=Receita sem foto" alt="Imagem da receita">
                {% else %}
                    <img src="{{recipe.files[0].src}}" alt="Imagem de {{recipe.title}}" onclick="Lightbox.open()">
                {% endif %}

                <div class="lightbox-target">
                    <img src="{{recipe.files[0].src}}" alt="Imagem de {{recipe.title}}">
                    <a
                        href="#"
                        class="lightbox-close"
                        onclick="Lightbox.close()"
                    >
                        <i class="material-icons">close</i>
                    </a>
                </div>
            </div>

            <div class="gallery-preview">
                {% for image in recipe.files %}
                    <img
                        src="{{image.src}}"
                        alt="Imagem de {{recipe.title}}"
                        {% if loop.index0 == 0 %} class="active-image" {% endif %}
                        onclick="ImageGallery.setImage(event)"
                    >
                {% endfor %}
            </div>
        </div>

        <div class="title">
            <h1>{{recipe.title}}</h1>
            <p>por {{recipe.chef_name}}</p>
        </div>

        <div class="recipe-item {% if hide %} recipe-hide {% endif %}">
            <div class="title">
                <h2>Igredientes</h2>
                {% if hide %}
                    <p class="hide">ESCONDER</p>
                {% endif %}
            </div>

            <div class="content">
                <ul>
                    {% for ingredient in recipe.ingredients %}
                        <li>{{ingredient}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="recipe-item {% if hide %} recipe-hide {% endif %}">
            <div class="title">
                <h2>Modo de preparo</h2>
                {% if hide %}
                    <p class="hide">ESCONDER</p>
                {% endif %}
            </div>

            <div class="content">
                <ul>
                    {% for preparation in recipe.preparation %}
                        <li>{{preparation}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="recipe-item {% if hide %} recipe-hide {% endif %}">
            <div class="title">
                <h2>Informações adicionais</h2>
                {% if hide %}
                    <p class="hide">ESCONDER</p>
                {% endif %}
            </div>

            <div class="content">
                {{recipe.information}}
            </div>
        </div>
    </section>
{% endmacro %}