{% extends 'templates/layouts/admin.njk' %}

{% block head %}
    <link rel="stylesheet" href="/styles/admin/forms.css">
    <title>Editar Receita | Foodfy</title>
{% endblock %}

{% block content %}
    <section class="container">
        <form action="/admin/recipes?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="title">
                <h2>Editar receita</h2>

                <div>
                    <button class="btn btn-delete" type="submit" form="form-delete">Deletar</button>
                    <button class="btn" type="submit" onclick="Validate.allFields(event)">Salvar receita</button>
                </div>
            </div>

            {% include "templates/includes/recipes/recipes-fields.njk" %}

            <input type="hidden" name="id" value={{recipe.id}}>
        </form>

        <form id="form-delete" action="/admin/recipes?_method=DELETE" method="POST">
            <input type="hidden" name="id" value={{recipe.id}}>
        </form>
    </section>

    {% include "templates/includes/recipes/field-options.njk" %}
{% endblock %}