{% extends 'templates/layouts/admin.njk' %}
{% import "templates/macros/recipe.njk" as section %}

{% block head %}
    <title>Receita: {{recipe.title}} | Foodfy</title>
{% endblock %}

{% block content %}
    {{ section.recipe("header", "", "", recipe, files) }}
{% endblock %}