{% extends 'templates/layouts/admin.njk' %}
{% import "templates/macros/recipe-content.njk" as recipeContent %}

{% block head %}
    <link rel="stylesheet" href="/styles/recipes/recipe-page.css">
    <title>Receita: {{recipe.title}} | Foodfy</title>
{% endblock %}

{% block content %}
    {{ recipeContent.render(recipe, "", session, "admin") }}
{% endblock %}