/* ==============
==== GALLERY ====
============== */

.selected .gallery {
    width: 100%;
}

.gallery .highlight > img {
    margin-top: 20px;
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 15px;
    cursor: zoom-in;
}

.gallery .gallery-preview {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}

.gallery .gallery-preview img {
    margin-left: 10px;
    width: 56px;
    height: 56px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 4px;
    opacity: .6;
    transition: .2s;
    cursor: pointer;
}

.gallery .gallery-preview img:hover,
.gallery .gallery-preview img.active-image {
    opacity: 1;
}

/* ==============================
==== LIGHTBOX RECIPE GALLERY ====
============================== */

.gallery .highlight .lightbox-target {
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    opacity: 1;
    transition: opacity .4s;
    overflow: hidden;
}

.gallery .highlight .lightbox-target img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
    height: 90%;
    background-color: #fff;
    object-fit: contain;
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
}

.gallery .highlight a.lightbox-close {
    position: absolute;
    top: -80px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #f00;
    background-color: #fff;
    border-radius: 50%;
    transition: .4s;
}

/* ==================
==== RECIPE INFO ====
================== */

.recipe-item {
    margin-top: 20px;
}

.recipe-item .title {
    display: flex;
    align-items: center;
}

.recipe-item .title h2 {
    margin-right: 8px;
}

.recipe-item p.hide {
    font-size: 12px;
    color: var(--color-light-gray);
    cursor: pointer;
}

.recipe-item .content,
.recipe-item .content li {
    font-size: 18px;
    line-height: 28px;
    color: var(--color-dark-gray);
}

.content ul li::before {
    content: '- ';
}

.content.hidden {
    display: none;
}