<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--[if IE]><link rel="shortcut icon" href="images/favicon.ico"><![endif]-->
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/css/styles.css">

        {% block head %}
            <title>Foodfy</title>
        {% endblock %}
    </head>

    <body>
        <header class="header-admin">
            <div class="container">
                <div>
                    <a href="/admin"><img src="/images/logo_admin.png" alt="Foodfy logo"></a>
                </div>
                
                <nav class="links">
                    <ul>
                        <li>
                            <a href="/admin/recipes">Receitas</a>
                        </li>
                        <li>
                            <a href="/admin/chefs">Chefs</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        {% block content %}
        {% endblock %}

        <script src="/js/scripts.js"></script>
    </body>
</html>