<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--[if IE]><link rel="shortcut icon" href="images/favicon.ico"><![endif]-->
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/styles.css">

        {% block head %}
            <title>Foodfy</title>
        {% endblock %}
    </head>

    <body>
        <header>
            <div class="container">
                <div class="img-wrapper">
                    <a href="/"><img src="/images/logo.png" alt="Foodfy logo"></a>
                </div>

                <nav class="links">
                    <ul>
                        <li><a href="/about">Sobre</a></li>
                        <li><a href="/recipes">Receitas</a></li>
                        <li><a href="/chefs">Chefs</a></li>
                    </ul>
                </nav>

                {% block search%}
                {% endblock %}
            </div>
        </header>

        {% block content %}
        {% endblock %}

        <footer>
            <p>Todos os direitos reservados, receitas Foodfy.</p>
        </footer>

        <script src="/js/scripts.js"></script>
    </body>
</html>