<form class="filter-form" action="/recipes" method="GET">
    <input
        type="text"
        name="search"
        value="{{search}}"
        placeholder="Buscar uma receita"
    >
    <button class="btn" type="submit">Buscar</button>
</form>